<style>
    body{
        font:normal 12px/20PX "Liberation sans", Arial, Helvetica, sans-serif;
        color:#585858;
    }
    img{
        width:300px;
        margin:10px;
        border: solid 5px #E8E8E8;

    }
</style>


<div>This Is Image base64 PNG With PHP</div>
<img src='data:image;base64,<?= {{ img64 }};?>' />

